# Percorso dove verranno salvate le foto/video originali e i thumbnail
UPLOAD_LOCATION=/mnt/ssd/immichdata

# Fuso orario
TZ=Europe/Rome

# Versione di Immich
IMMICH_VERSION=release

# Database
DB_PASSWORD=IMMICH_DB_PASSWORD_PLACEHOLDER
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
DB_HOSTNAME=immich_postgres